/* Basix reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* 
    Inherit box-sizing from parent, which will the the value
    defined in the body element
    */
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  /*
  color: $gray-dark;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  */
}

.description {
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom right, #bbbdf6, #72727e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: #625f63;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: #625f63;
  border: none;
  border-radius: 0.5rem;
}
input:focus,
textarea:focus {
  outline: none;
}

::selection {
  background-color: rgb(171, 174, 255);
  color: #010101;
}

.app-layout {
  display: grid;
  grid-template-columns: 40vw 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
  padding: 4rem;
}
.app-layout button {
  padding: 2rem;
  border-radius: 1rem;
  justify-self: end;
}
.app-layout form,
.app-layout button {
  grid-column: 1;
}
.app-layout .talk-expanded {
  grid-column: 2;
  grid-row: 1/-1;
  align-self: start;
  max-width: 70rem;
}
.app-layout .talk {
  max-width: 40rem;
}
.app-layout .talk-list {
  justify-self: end;
}
.app-layout .form {
  max-width: 40rem;
  justify-self: end;
  margin-right: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #bbbdf6;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 4rem rgba(121, 122, 158, 0.4);
}
.form button {
  align-self: end;
}
.form__input-box {
  display: flex;
  align-items: center;
}
.form__input-box input,
.form__input-box textarea {
  flex-grow: 1;
  margin-left: 2rem;
  padding: 1rem;
}

.talk {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, auto);
  grid-gap: 2rem;
  list-style: none;
  background-color: #625f63;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}
.talk__title {
  grid-row: 1;
  grid-column: 1/-1;
  background: #9893da;
  color: #111;
  text-align: center;
  padding: 1rem;
}
.talk p {
  grid-row: 2;
  grid-column: 1/-1;
  padding: 0 2rem;
}
.talk span {
  grid-row: 3;
  grid-column: 1;
  padding-left: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #3a3a3a;
  justify-self: left;
  align-self: end;
}
.talk button {
  grid-row: 3;
  grid-column: 2;
  padding: 1rem;
  border-radius: 1rem;
  justify-self: right;
}

.talk-list {
  overflow-x: visible;
  overflow-y: scroll;
  max-height: 100rem;
  padding: 3rem;
}
.talk-list > li:not(:last-child) {
  margin-bottom: 2rem;
}

.talk-expanded {
  background-color: #625f63;
  background-image: linear-gradient(to right, #625f63, #72727e);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}
.talk-expanded__title {
  color: #111;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
  background-image: linear-gradient(to right, #9893da, #bbbdf6);
  box-shadow: 0 1rem 2rem rgba(152, 147, 218, 0.3);
}
.talk-expanded__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 3rem;
}
.talk-expanded__content button {
  align-self: end;
}
.talk-expanded__attendants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.talk-expanded__attendants img {
  border-radius: 100%;
  margin: 0.5rem;
}
.talk-expanded .form {
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
