@use "../abstracts/variables" as *;

.talk-list {
  overflow-x: visible;
  overflow-y: scroll;
  max-height: 100rem;
  padding: 3rem;
  // overflow-y: scroll;
  & > li:not(:last-child) {
    margin-bottom: 2rem;
  }
}
