.app-layout {
  display: grid;
  grid-template-columns: 40vw 1fr;

  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
  padding: 4rem;

  & button {
    padding: 2rem;
    border-radius: 1rem;

    justify-self: end;
  }

  & form,
  button {
    grid-column: 1;
  }

  & .talk-expanded {
    grid-column: 2;
    grid-row: 1 / -1;

    align-self: start;
    max-width: 70rem;
  }

  & .talk {
    max-width: 40rem;
  }

  & .talk-list {
    justify-self: end;
  }

  & .form {
    max-width: 40rem;
    justify-self: end;
    margin-right: 3rem;
  }
}
